spring.application.name=spring-secure-notes-service

# база данных
spring.datasource.url=jdbc:postgresql://localhost:5432/notesdb
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.thymeleaf.cache=false

# сервер
server.port=8080
logging.level.org.hibernate.SQL=DEBUG